server:
  port: 8081
spring:
  datasource:
    username: root
    password: root123456
    driver-class-name: com.mysql.cj.jdbc.Driver
    url: jdbc:mysql://localhost:3306/mall?serverTimezone=Asia/Shanghai&useUnicode=true&characterEncoding=utf8&useSSL=false&allowPublicKeyRetrieval=true
  rabbitmq:
    listener:
      simple:
        acknowledge-mode: manual #手动应答
        prefetch: 1 #每次只推送一个信息
    host: 127.0.0.1
    port: 5672
    username: guest
    password: guest
  redis:
    port: 6379
    password: 123456
    jedis:
      pool:
        max-active: 8
    host: localhost
    timeout: 5000
mybatis-plus:
  configuration:
    aggressive-lazy-loading: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
    map-underscore-to-camel-case: true #关闭下划线转驼峰

rabbitmq:
  publisher-returns: true
  publisher-confirm-type: correlated #新版本 publisher-confirms: true 已过时




